<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <h1>This is a Header</h1>
  </div>

<button id = "login" class = "btn btn-default" type="button">Sign In</button
  onclick="toggleSignIn()">


<form class="" action="index.html" method="post">
  <input type="textarea" id="message" rows="8" cols="80"></textarea>
  <br>
  <br>
  <input type="submit" value="SEND IT" class = "btn btn-default">
</form>

  <!-- <p id="demo">
    This is me testing out a lil html file
  </p>

  <button class="btn btn-default" type="button" onclick="myFunction()">
    Try it
  </button>

  <div id="doge-image"/> -->

</body>

</html>
